# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\guiso\Documents\TEC\2021\I Semestre 2021\ALGORITMOS Y ESTRUCTURAS DE DATOS II\Actividades en Clase\java-ci-pipeline\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
